<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common::header (#{html.login.title})"></head>
<body style="background-color: #2b2b2b">
<nav th:insert="common::navbar"></nav>
<h1 th:text="#{html.login.description}" class="text-center" style="color: white; margin-top: 20px">Pij
    odpowiedzialnie!</h1>

<div class="container">
    <div class="row row-cols-3">
        <div class="col-3"></div>
        <div class="col-6 bg-light rounded-3">
            <hr class="border-top">
            <form th:action="@{/login}" method="post">
                <div class="form-floating mb-3">
                    <input required type="text" name="username" class="form-control" id="userName"
                           th:placeholder="#{html.login.form.userName}">
                    <label for="userName" th:text="#{html.login.form.userName}">Nazwa użytkownika</label>
                </div>
                <div class="form-floating mb-3">
                    <input required type="password" name="password" class="form-control" id="password"
                           th:placeholder="#{html.login.form.password}">
                    <label for="password" th:text="#{html.login.form.password}">Hasło</label>
                </div>
                <div class="container align-content-start" style="margin-bottom: 10px; padding-left: 0px">
                    <span class="text-danger" th:if="${param.error}" th:text="#{html.login.form.error}"></span>
                </div>
                <div class="container align-content-start" style="margin-bottom: 10px; padding-left: 0px">
                    <span class="text-success" th:if="${param.logout}" th:text="#{html.login.form.logout}"></span>
                </div>
                <div class="container text-center">
                    <input type="submit" class="btn btn-primary mx-2" style="background-color: #0066cc"
                           th:value="#{html.login.form.button.submit}"/>
                </div>
                <div class="container text-center" style="padding: 15px">
                    <a th:text="#{html.login.form.button.signup}" th:href="@{'/signup'}" class="button"
                       style="color: #0066cc" methods="post"/>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<div th:insert="common::footer"></div>
<div th:insert="common::script"></div>
</body>
</html>