<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${drink.getDrink()}"></title>
    <link th:rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <p th:text="${drink.getIdDrink()}"></p>
    <p th:text="${drink.getDrink()}"></p>
    <p th:text="${drink.getCategory()}"></p>
    <p th:text="${drink.getAlcoholic()}"></p>
    <p th:text="${drink.getGlass()}"></p>
    <p th:with="df = ${dateformat}" th:text="${#temporals.format(drink.getDateModified(),df)}"></p>
    <img th:src="${drink.getDrinkThumb()}">
</div>
<script th:src="@{/bootstrap/bootstrap.bundle.min.js}"></script>
</body>
</html>