<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common::header (#{html.signup.title})"></head>
<body style="background-color: #2b2b2b">
<nav th:insert="common::navbar"></nav>
<h1 th:text="#{html.signup.description}" class="text-center" style="color: white; margin-top: 20px">Pij
    odpowiedzialnie!</h1>

<div class="container">
    <div class="row row-cols-3">
        <div class="col-3">
        </div>
        <div class="col-6 bg-light rounded-3">
            <hr class="border-top">
            <form th:action="@{/new_account}" th:object="${userAccount}" method="post">
                <div class="form-group">
                    <label class="my-2" for="userName">Nazwa użytkownika</label>
                    <input type="text" th:field="*{userName}" class="form-control" id="userName"
                           placeholder="Nazwa użytkownika">
                    <span class="text-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
                </div>
                <div class="form-group">
                    <label class="my-2" for="email">Adres e-mail</label>
                    <input type="text" th:field="*{email}" class="form-control" id="email"
                           placeholder="Adres e-mail">
                    <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </div>
                <div class="form-group">
                    <label>Płeć</label>
                    <select class="form-select" aria-label="Płeć" th:field="*{gender}">
                        <option th:value="*{GENDER_MALE}" th:text="Mężczyzna"></option>
                        <option th:value="*{GENDER_FEMALE}" th:text="Kobieta"></option>
                        <option th:value="*{GENDER_OTHER}" th:text="Inna"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="my-2" for="password">Hasło</label>
                    <input type="password" th:field="*{password}" class="form-control" id="password"
                           placeholder="Hasło">
                    <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </div>
                <div class="form-group">
                    <label class="my-2" for="repeat_password">Potwierdź hasło</label>
                    <input type="password" th:field="*{repeatPassword}" class="form-control" id="repeat_password"
                           placeholder="Potwierdź hasło">
                    <span class="text-danger" th:if="${#fields.hasErrors('repeatPassword')}"
                          th:errors="*{repeatPassword}"></span>
                </div>

                <div class="form-group">
                    <label class="my-2" for="dateOfBirth">Data urodzenia</label>
                    <input type="date" th:field="*{dateOfBirth}" class="form-control" id="dateOfBirth"
                           placeholder="Data urodzenia">
                    <span class="text-danger" th:if="${#fields.hasErrors('dateOfBirth')}"
                          th:errors="*{dateOfBirth}"></span>
                </div>

                <div class="container text-center">
                    <input onclick="return checkPassword()" type="submit" class="btn btn-primary mx-2"
                           value="Utwórz konto"/>
                    <input type="reset" class="btn btn-primary my-3" value="Wyczyść formularz"/>
                </div>


            </form>
            <!--            <script src="../static/script.js"></script>-->
            <script>
                function checkPassword() {
                    let password = document.getElementById("password").value;
                    let repeatPassword = document.getElementById("repeat_password").value;
                    console.log(password, repeatPassword);

                    if (password.length > 7) {
                        if (password !== repeatPassword) {
                            alert("Hasła muszą być jednakowe");
                            return false;
                        }
                    }
                    return true;
                }
            </script>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>

<div th:insert="common::footer"></div>
<div th:insert="common::script"></div>
</body>
</html>